@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Oswald:wght@300&family=Playfair+Display+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

section{
    padding: 50px 10%;
}

body{
    background: azure;
    color: black;
}

.heading{
    text-align: center;
}

.heading h2{
    font-size: 2rem;
}

.heading span{
    font-size: 2em;
    color: blue;
}

.logo{
    font-size: 2rem;
    font-weight: 300;
    color: black;
}

.logo span{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: cadetblue;
    padding: 12px 10px;
}

.menu{
    display: flex;
}

.menu li{
    padding-left: 40px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: crimson;
    transition: 0.10s ease-in-out;
}

.menu li a:hover:after{
    width: 100%;
}

.open-menu , .close-menu{
    position: relative;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}

.open-menu{
    top: 50%;
    right: 10px;
    transform: translateY(-50);
}

.close-menu{
    top: -465px;
    right: -267px;
}

#check{
    display: none;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img{
    order: 3;
}

.home-img img{
    width: 80%;
}

.home-text span{
    font-size: 1.5em;
    font-weight: 500;
}

.home-text h1{
    font-size: 2.5em;
}

.home-text h2{
    font-size: 1.3rem;
    font-weight: 400;
}

.home-text p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}

.social{
    display: flex;
    flex-direction: column;
}

.social a{
    margin-bottom: .5rem;
    font-size: 30px;
    color: var(--text-color);
}

.social a:hover{
    color: var(--hover);
}

.btn{
    display: inline-block;
    background: linear-gradient(90deg, #3f51b5, transparent) #2196f3;
    color: #000;
    padding: 0.7rem 1.3rem;
    border: 0.6rem;
    border-radius: 10px;
    transition: background-color 1s;
}

.btn:hover{
    background-color: #e91e63;
    color: #fff;
}

.about-container{
    display: flex;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

.about-img img{
    width: 180%;  
    border-radius: 0.7rem;
    margin-left: -90px;
}

.about-text p{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;  
}

.information{
    margin: 1rem 0 1.4rem;
}

.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.information .info-box i{
    font-size: x-large;
}

.information .info-box span{
    font-weight: 500;
    font-size: medium;
    margin-left: .5rem;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.skills-img img{
    width: 80%;
    padding-left: 3rem;
    object-position: center;
}

.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.bars-box h3{
    font-size: 1rem;
    font-weight: 500;
}

.bars-box span{
    font-size: 1rem;
    font-weight: 500;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background: #54B435;
    border-radius: 1rem;
}

.percent-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5rem;
    background: #0081C9;
    border-radius: 1rem;
}

.html-bar{
    width: 70%;
}

.bootstrap-bar {
    width: 70%;
}

.css-bar{
    width: 80%;
}

.js-bar{
    width: 50%;
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.services-box{
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid #439A97;
    box-shadow: 0px 2px 7px rgba(14, 55, 54, 55%);
}

.services-box:hover{
    background: #02225a;
    color: #fff;
}

.services-box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.services-box .bx{
    padding-top: 2rem;
    font-size: 54px;
    color: #439A97;
}

.services-box .bx:hover{
    color: red;
}

.services-box a{
    color: black;
    font-size: 1em;
    font-weight: 500;
}

.services-box a:hover{
    color: red;
}

.certificate-container {
    display: flex;
}

.certificate-container {
    text-align: center;
}

.certificate img {
    cursor: pointer;
    max-width: 80%;
    height: auto;
    margin: 10%;
}

.contact-form{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 650px;
}

form , input , textarea{
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: cadetblue;
    margin-bottom: 1rem;
    color: #000;
    font-size: 18px;
}

form input::placeholder , textarea::placeholder{
    color: black;
}

form textarea{
    resize: none;
    height: 200px;
}

.contact-button{
    width: 160px;
    cursor: pointer;
    background: #1D1CE5;
    color: #000;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 35%;
    margin-left: 35%;
}

.footer{
    display: grid;
    place-items: center;
    padding: 20px;
    color: #000;
}

.footer h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000;
}

.footer-social a i{
    color: cadetblue;
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.footer-social a i:hover{
    color: blue;
}

.copyright{
    padding: 20px;
    text-align: center;
    background: cadetblue;
    color: #000;
    font-size: 20px;
}

/* Responsive */
@media only screen and (max-width: 891px) {
    :root{
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }

    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background: var(--main-color);
        transition: all 0.2s ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }

    .menu li a{
        padding: 10px;
    }

    .open-menu{
        display: block;
    }

    .close-menu{
        display: block;
    }

    #check:checked ~ .menu{
        right: 0;
    }
    
    .social a{
        margin-bottom: .5rem;
        font-size: 30px;
        color: var(--text-color);
        margin-left: 40px;
    }
    
    .social a:hover{
        color: var(--hover);
    }

    .home-text span{
        font-weight: 400;
        }
    
    .home-text h1{
        font-size: 30px;
    }
    
    .home-text h2{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }

    .scroll-down{
        display: none;
    }

    .home{
        grid-template-columns: 0.5fr 3fr;
    }

    .home-text{
        grid-column: 1/3;
        padding: 1.4rem;
    }

    .home-img{
        order: initial;
    }

    .about-container{
        grid-template-columns: 1fr;
    }

    .about-img{
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 20px;
    }

    .skills-container{
        grid-template-columns: 1fr;
    }

    .skills-img img{
        padding-left: 0;
    }

    .skills-img{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .contact-form form{
        width: 300px;
    }

    .contact-button{
        margin-left: 25%;
    }
}

@media only screen and (max-width: 740px) {
    .open-menu{
        right: 10px;
    }
    .certificate-container {
        display: inline;
    }
    .certificate-container img {
        width: 80%;
    }
}

@media only screen and (max-width: 710px) {
    .close-menu{
        right: -245px;
    }
}

@media only screen and (max-width: 690px) {
    .close-menu{
        right: -235px;
    }
}

@media only screen and (max-width: 660px) {
    .close-menu{
        right: -225px;
    }
}

@media only screen and (max-width: 640px) {
    .close-menu{
        right: -215px;
    }
}

@media only screen and (max-width: 610px) {
    .close-menu{
        right: -205px;
    }
    
    .social a{
        margin-bottom: .3rem;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .about-img{
        width: 200%;
        margin-left: 20px;
    }
    
    .about-container .about-text p{
        font-size: 13px;
        font-weight: 400;
    }
    
    .information .info-box{
        margin-bottom: .5rem;
    }
    
    .information .info-box i{
        font-size: small;
    }
    
    .information .info-box span{
        font-weight: 500;
        font-size: small;
        margin-left: .5rem;
    }
}

@media only screen and (max-width: 580px) {
    .close-menu{
        right: -190px;
    }
}

@media only screen and (max-width: 550px) {
    .close-menu{
        right: -182px;
    }
}

@media only screen and (max-width: 530px) {
    .close-menu{
        right: -172px;
    }
}

@media only screen and (max-width: 510px) {
    .close-menu{
        right: -165px;
    }
}

@media only screen and (max-width: 490px) {
    .close-menu{
        right: -157px;
    }
}

@media only screen and (max-width: 470px) {
    .close-menu{
        right: -148px;
    }
}

@media only screen and (max-width: 470px) {
    .close-menu{
        right: -140px;
    }
}

@media only screen and (max-width: 430px) {
    .close-menu{
        right: -132px;
    }
}

@media only screen and (max-width: 400px) {
    .close-menu{
        right: -120px;
    }
}

@media only screen and (max-width: 380px) {
    .close-menu{
        right: -112px;
    }
}

@media only screen and (max-width: 360px) {
    .close-menu{
        right: -104px;
    }
}

@media only screen and (max-width: 340px) {
    :root{
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }

    .close-menu{
        right: -96px;
    }

    .home-text h2{
        font-size: 0.9rem;
        font-weight: 500;
    }

    .information .info-box span{
        font-size: 1rem;
    }

    .contact-form{
        width: 300px;
    }

    .contact-button{
        margin-left: 25%;
    }
}